/* [ON BIG SCREEN] */

#hamnav {
  width: 100%;
  background: #0144ff;
}
/*  HORIZONTAL MENU ITEMS */
#hamitems {
  display: flex;
}
#hamitems a {
  padding: 10px;
  color: white;
  text-decoration: none;
  text-align: center;
}
#hamitems a:hover {
  background: #f7d306;
}
/* HIDE HAMBURGER */
#hamnav label,
#hamburger {
  display: none;
}
/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px) {
  /*  BREAK INTO VERTICAL MENU */
  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
  }
  /*  SHOW HAMBURGER ICON */
  #hamnav label {
    display: inline-block;
    color: white;
    padding: 10px;
  }
  /*  TOGGLE SHOW/HIDE MENU */
  #hamitems {
    display: none;
  }
  #hamnav input:checked ~ #hamitems {
    display: block;
  }
}
